<!DOCTYPE html>
<html>
	<head>
		<title>VueJS Cours Grafikart 1/15</title>
	</head>
	<body>

		<div id="app">
			<input type="text" v-model="message" />
			<a :href="link" :title="message">{{ message }}</a>
			<ul>
				<li v-for="person in persons">{{ person }}</li>
			</ul>
			<input type="checkbox" v-model="success" />
			<p v-if="success">Si success est true, je m'affiche. <i @click="close">Fermer</i></p>
			<p v-else>Sucess est en false.</p>
			<p v-show="success">Si success est false, je ne me supprime pas, je suis en display : none. <i @click="close">Fermer</i></p>
		</div>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>